body {
	font-family: 'Lato', san-serif;
	color: #BCBBBB;
	font-weight: 300;
}

.logo {
	margin-top: 10px;
}

.text-muted {
	color: #BCBBBB;
    margin-left: 5px;
	font-weight: bold;
}

.text-thin{
	font-weight: 100;
	color: #747704;
}

.role {
	font-size: 20px;
	font-weight: bold;
}

.title-super {
	font-size: 50px;
}

h3 {
	color: #747704;
	font-weight: bold;
}

a {
	color: #BCBBBB;
}



div#hline {
	height: 3px;
	margin-top: 15px;
	margin-bottom: 20px;
	background: #BCBBBB;
 }

